$category-link-color: $color-corporative;
$category-link-font-family: $font-family-second;
$category-link-space: .85rem;

.category-link {
  a {
    color: $category-link-color;
    display: inline-block;
    font-family: $category-link-font-family;
    font-size: .75rem;
    font-weight: bold;
    margin-right: $category-link-space;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

@media #{$breakpoints-large} {
  .category-link {
    a {
      font-size: .85rem;
    }
  }
}
