.section, .nav-posts, .page__content, .article-first__content {
  padding-bottom: 1rem;
  padding-top: 1rem; }

@media only screen and (min-width: 768px) {
  .section, .nav-posts, .page__content, .article-first__content {
    padding-bottom: 3rem;
    padding-top: 3rem; } }
@media only screen and (min-width: 1024px) {
  .section, .nav-posts, .page__content, .article-first__content {
    padding-bottom: 4rem;
    padding-top: 4rem; } }
@media only screen and (min-width: 1280px) {
  .section, .nav-posts, .page__content, .article-first__content {
    padding-bottom: 5rem;
    padding-top: 5rem; } }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
picture,
img {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none;
  list-style-type: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: 0px; }

select {
  -webkit-appearance: none; }

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial; }

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0; }

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top; }

/* avoid iPad/iPhone buttons style */
input[type="submit"],
button {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  background: #FCFCFC;
  color: #111;
  font-family: Times new roman, Times, Georgia, serif;
  font-size: 62.5%;
  font-weight: normal;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

strong {
  font-weight: bold; }

a {
  color: inherit; }

::-moz-selection {
  background: #504FFF;
  color: #fff; }

::selection {
  background: #504FFF;
  color: #fff; }

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Inter-UI-Regular.woff2") format("woff2"), url("assets/fonts/Inter-UI-Regular.woff") format("woff"); }
.grid-content, .page__content, .category__content, .list-of-posts,
.grid,
.nav-posts,
.footer__content,
.header__content,
.article-first__content {
  padding-left: 12px;
  padding-right: 12px; }

.grid, .nav-posts, .footer__content, .header__content, .article-first__content {
  max-width: 1200px; }

.grid-content, .page__content, .category__content, .list-of-posts {
  max-width: 980px; }

.layout,
.layout-grid {
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 100%; }

.layout-grid {
  max-width: calc( 1200px + calc( 32px/2 ) );
  width: 95%; }

@media only screen and (min-width: 768px) {
  .grid-content, .page__content, .category__content, .list-of-posts,
  .grid,
  .nav-posts,
  .footer__content,
  .header__content,
  .article-first__content {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    width: 90%; } }
.category-link a {
  color: #504FFF;
  display: inline-block;
  font-family: "Inter UI";
  font-size: 1rem;
  margin-right: 0.85rem;
  text-decoration: none; }

.post-resume {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2rem 0; }

.post-resume__thumb {
  flex: 0 1 30%; }

.post-resume__content {
  flex: 0 1 60%; }

.post-resume__picture {
  position: relative;
  overflow: hidden;
  background: #686868; }
  .post-resume__picture:before {
    content: '';
    display: block;
    padding-top: 112.5%;
    width: 100%; }
  .post-resume__picture > img {
    object-fit: cover;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%; }

.post-resume__link {
  text-decoration: none; }

.post-resume__category {
  padding-bottom: calc( 2rem/2 ); }

.post-resume__title {
  font-family: "Inter UI";
  font-size: 2.5rem;
  padding-bottom: 2rem; }

.post-resume__paragraph {
  color: #686868;
  font-size: 1rem;
  line-height: 1.75rem; }

.main {
  font-size: 1.05rem;
  line-height: 1.65rem; }
  .main div,
  .main p,
  .main ul,
  .main ol,
  .main img {
    display: block;
    margin-bottom: 1rem;
    max-width: 100%; }
  .main div {
    margin: 2rem 0; }
  .main img {
    height: auto; }
  .main h2,
  .main h3,
  .main h4,
  .main h5,
  .main h6 {
    font-family: "Inter UI";
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem 0 2rem 0; }
  .main ol,
  .main ul {
    padding-left: 1.5rem; }
    .main ol li,
    .main ul li {
      padding-bottom: .75rem; }
  .main ul {
    list-style-type: disc; }
  .main ol {
    list-style-type: upper-roman; }
  .main b,
  .main strong {
    font-weight: bold; }
  .main i {
    font-style: italic; }
  .main a {
    color: #504FFF;
    text-decoration: none; }
  .main a:hover {
    text-decoration: underline; }

@media only screen and (min-width: 1024px) {
  .main h2,
  .main h3,
  .main h4,
  .main h5,
  .main h6 {
    font-size: 2rem;
    line-height: 2.5rem; } }
.nav-posts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.nav-posts__back a,
.nav-posts__next a {
  background: #504FFF;
  color: #fff;
  display: inline-block;
  font-family: "Inter UI";
  font-size: .85rem;
  padding: 1rem;
  text-decoration: none; }

.page {
  padding-bottom: 0;
  padding-top: 0; }

.page__header {
  background: #504FFF;
  color: #fff;
  padding: 3rem 0;
  text-align: center; }

.page__title {
  font-family: "Inter UI";
  font-size: 2rem; }

@media only screen and (min-width: 1024px) {
  .page__header {
    padding: 8rem 0; } }
.footer {
  background: #111;
  color: #fff;
  font-family: "Inter UI";
  padding: 8rem 0; }

.footer__credits {
  font-size: 1rem;
  padding-bottom: 1rem; }

.footer__cc {
  color: #686868;
  font-size: .85rem; }
  .footer__cc a {
    text-decoration: none; }
  .footer__cc a:hover {
    text-decoration: underline; }

.footer__link {
  border-bottom: 1px solid #fff;
  text-decoration: none; }

.header {
  background: #111;
  padding: 1rem 0; }

.header__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.header__logo {
  color: #fff;
  font-family: "Inter UI";
  font-size: 1rem;
  text-decoration: none; }

.header__ul {
  text-align: right; }
  .header__ul li {
    display: inline-block; }
    .header__ul li a {
      color: #fff; }

.category {
  padding-bottom: 0;
  padding-top: 0; }

.category__header {
  background: #504FFF;
  color: #fff;
  padding: 3rem 0; }

.category__title,
.category__subtitle {
  font-family: "Inter UI"; }

.category__title {
  font-size: 2rem;
  padding: 1rem 0 2rem 0; }

.category__message {
  color: #111;
  font-family: "Inter UI";
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 4rem 0; }

.category__subtitle {
  font-size: .85rem; }

@media only screen and (min-width: 1024px) {
  .category__header {
    padding: 8rem 0; } }
.article-first__thumbnail .picture {
  position: relative;
  overflow: hidden;
  background: #686868; }
  .article-first__thumbnail .picture:before {
    content: '';
    display: block;
    padding-top: 33.3333333333%;
    width: 100%; }
  .article-first__thumbnail .picture > img {
    object-fit: cover;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%; }

.article-first__title {
  font-family: "Inter UI";
  font-size: 1.75rem;
  padding: 1rem 0; }

@media only screen and (min-width: 1024px) {
  .article-first__single-sidebar {
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap; }

  .article-first__post {
    flex: 0 1 70%; }

  .article-first__sidebar {
    flex: 0 1 20%; }

  .article-first__title {
    font-size: 3rem; } }

/*# sourceMappingURL=main.css.map */
