@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("assets/fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("assets/fonts/Inter-UI-Regular.woff") format("woff");
}
