// http://chir.ag/projects/name-that-color/
//
// Use the above URL to obtain the name of the hexadecimals,
// and please, try to order from higher hex value to lower
// hex value.
//

// basic

$color-white: #fff;
$color-black: #111;
$color-gray: #686868;
$color-ligth-gray: rgba(0,0,0,.2);
$color-background: #FCFCFC;

// corporative

$color-corporative: #33ff33;
$color-gray-content: #444;
